{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>


    <div class="parent clearfix">
        <div class="bg-illustration">
        <img src="https://i.ibb.co/Pcg0Pk1/logo.png" alt="logo">

        <div class="burger-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>

        </div>

        <div class="login">
        <div class="container">
            <h1>LOGINCITO</h1>

            <div class="login-form">
            {% block content %}
            <form class="form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" id="submit">Login</button>

            </form>
            {% endblock %}
            </div>

        </div>
        </div>
    </div>
</body>
</html>